<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="shared/header::header">
</head>
<body style="background-image: linear-gradient(to left, black, white);">
	<div class="wrapper  justify-content-center" style="margin-top: 50px;">
		<div class="content col-md-6 " style="padding: 0px;">
			<div class="card">
				<h5 class="card-header bg-info white-text text-center py-4">
					<strong>Add DEMAT A/C</strong>
				</h5>
				<!--Card content-->
				<div class="card-body px-lg-5 pt-0">
					<!-- Form -->
					<form style="color: #757575;" th:object="${accounts}"
						th:action="@{/accounts/addaccount/{id}(id=${userInfo.id})}"
						method="POST">
						<div class="row">
							<!-- first name -->
							<div class="col-md-4" style="margin-top: 10px;">
								<span>Bank Name</span>
							</div>
							<div class="col-md-6" style="margin-top: 10px;">
								<select class="browser-default custom-select" title="Bank"
									th:value="${bankId}" th:field="*{bankId}">
									<option th:each="bankId : ${bankId}"
										th:value="${bankId.bankName}" th:text="${bankId.bankName}"></option>
								</select>
							</div>
						</div>
						<!-- a/c holder -->
						<div class="row">
							<div class="col-md-4" style="margin-top: 10px;">
								<span>A/C Holder's Full Name</span>
							</div>
							<div class="col-md-6" style="margin-top: 10px;">
								<div class="input-group">
									<input type="text" class="form-control"
										th:field="*{accountHolderName}">
								</div>
							</div>
						</div>
						<!-- a/c no. -->
						<div class="row">
							<div class="col-md-4" style="margin-top: 10px;">
								<span>DEMAT A/C No.</span>
							</div>
							<div class="col-md-6" style="margin-top: 10px;">
								<div class="input-group">
									<input type="text" class="form-control pwd"
										th:field="*{dmatNumber}">
								</div>
							</div>
						</div>
						<div class="row">
							<button
								class="btn btn-outline-info col-md-3 bg-success btn-
					rounded btn-block my-4 waves-effect z-depth-0"
								type="submit" style="margin: 5px; color: #fff;">
								<i class="fa fa-sign-in-alt"></i>ADD
							</button>
							<a th:href="@{/accounts/myaccounts/{id}(id=${userInfo.id})}"
								class="btn btn-outline-info bg-danger col-md-3 btn- rounded
								btn-block my-4 waves-effect z-depth-0"
								style="color: #fff"> <i class="fa fa-times"></i> Cancel
							</a>
						</div>
					</form>
					<!-- Form -->
				</div>
			</div>
		</div>
	</div>
	<div th:replace="shared/footer::footer"></div>
</body>
</html>