<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="shared/header::header">
</head>
<body style="background-image: linear-gradient(to left, black, white);">
	<div class="wrapper text-center">
		<div class="content">
			<div class="card">
				<h5 class="card-header bg-info white-text py-4 ">
					<strong class="text-center">Change Password</strong>
				</h5>
				
				<!--Card content-->
				<div class="card-body px-lg-5 pt-0">
				
					<!-- Form -->
					<form style="color: #757575;"  method="post"
					>
						<!-- Old Password -->
						<div class="row">
							<div class="col-md-4" style="margin-top: 10px;">
								<span>Old Password</span>
							</div>
							<div class="col-md-6" style="margin-top: 10px;">
								<div class="input-group">
									<input type="password" class="form-control pwd" id="password">
									<div class="input-group-btn">
										<button class="btn btn-secondary reveal" type="button"
											onclick="showPassword()">
											<i class="fa fa-eye" id="eye"></i>
										</button>
									</div>
								</div>

							</div>
						</div>
						<!-- New Password -->
						<div class="row">
							<div class="col-md-4" style="margin-top: 10px;">
								<span>New Password</span>
							</div>
							<div class="col-md-6" style="margin-top: 10px;">
								<div class="input-group">
									<input type="password" class="form-control pwd"
										id="confirmPassword">
								</div>
							</div>
						</div>
						<!-- buttons -->
						<div class="row">
							<button
								class="btn btn-outline-info col-md-6 bg-success btn-
					rounded btn-block my-4 waves-effect z-depth-0"
								type="submit" style="margin: 5px; color: #fff;">
								<i class="fa fa-save"></i> Save Changes
							</button>
							<a th:href="@{home}"
								class="btn btn-outline-info bg-danger col-md-4 btn-
					rounded btn-block my-4 waves-effect z-depth-0">
								<i class="fa fa-times"></i> Cancel
							</a>
						</div>
					</form>
					<!-- Form -->
				</div>
			</div>
		</div>
	</div>
	<div th:replace="shared/footer::footer"></div>
</body>
</html>