<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="shared/header::header">
<meta charset="ISO-8859-1">
<title>Add Bank</title>
</head>
<body style="background-image: linear-gradient(to left, black, white);">
	<div class="container">
		<div class="col-md-12" style="margin-top: 10px; padding: 0px;">
			<div class="card text-center">
				<div class="card-block">
					<h6 class="card-title">My Accounts</h6>
				</div>
				<div class="row px-2 no-gutters">
					<div class="col-12">
						<small>User Id: <span class="badge badge-success">XXXXXXXX</span></small>
					</div>
				</div>
			</div>
			<div class="row text-center" style="margin: 18px; padding: 0px;">
				<div th:replace="shared/backButton::backButton"></div>
				&nbsp;
				<div th:replace="shared/addAccountButton::addaccount"></div>
			</div>
		</div>
		<table class="table table-striped table-dark col-md-12">
			<thead>
				<tr>
					<th scope="col">#</th>
					<th scope="col">Bank Name</th>
					<th scope="col">Account Holder</th>
					<th scope="col">DEMAT A/C No.</th>
					<th scope="col">Investment</th>
					<th scope="col">Total Share Quantity</th>
					<th scope="col">Total Current Value</th>
					<th scope="col">Account Balance</th>
					<th></th>
				</tr>
			</thead>
			<tbody id="details">
				<tr>
					<th scope="row">1</th>
					<td>Global IME Bank</td>
					<td>Dipendra Singh Bist</td>
					<th scope="col">0006025665005</th>
					<td>12555552</td>
					<td>500</td>
					<td>554562255</td>
					<td>125552</td>

					<td><a th:href="@{transactions}" class="btn"> <i
							class="fa fa-external-link-square-alt" style="color: #fff"></i>
					</a></td>
				</tr>
				<tr>
					<th scope="row">2</th>
					<td>Global IME Bank</td>
					<td>Dipendra Singh Bist</td>
					<th scope="col">0006025665005</th>
					<td>12555552</td>
					<td>500</td>
					<td>554562255</td>
					<td>12550052</td>
					<td><a th:href="@{transactions}" class="btn"> <i
							class="fa fa-external-link-square-alt" style="color: #fff"></i>
					</a></td>
				</tr>
				<tr>
					<th scope="row">3</th>
					<td>Global IME Bank</td>
					<td>Dipendra Singh Bist</td>
					<th scope="col">0006025665005</th>
					<td>12555552</td>
					<td>500</td>
					<td>554562255</td>
					<td>12550552</td>
					<td><a th:href="@{transactions}" class="btn"> <i
							class="fa fa-external-link-square-alt" style="color: #fff"></i>
					</a></td>
				</tr>
			</tbody>
		</table>

	</div>
	<div th:replace="shared/footer::footer"></div>
</body>
</html>