<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="/shared/header::header">
<meta charset="ISO-8859-1">
<title>Welcome</title>
</head>
<style>
.card {
	margin: 0 auto; /* Added */
	float: none; /* Added */
	margin-top: 50px; /* Added */
}
</style>
<body style="background-image: linear-gradient(to left, black, white);">
	<div class="card col-md-6">
		<h5 class="card-header bg-info white-text text-center py-4">
			<strong>Sell Share</strong>
		</h5>
		<!--Card content-->
		<div class="card-body px-lg-5 pt-0 text-center">
			<!-- Form -->
			<form class="col-md-12" style="color: #757575;" action="/"
				th:object="${sellForm}">

				<!-- share holder -->
				<div class="row">
					<div class="md-form col-md-6" style="margin-top: 10px;">
						<span>Share Holder</span> <select
							class="browser-default custom-select">
							<option selected>Share Holder</option>
							<option value="1">Dipendra S. Bist</option>
							<option value="2">Sahadev Kunwar</option>
							<option value="3">Sanjay Acharya</option>
							<option value="4">Samit Gurung</option>
						</select>
					</div>
					<div class="col-md-6" style="margin-top: 10px;">
						<span>Date</span> <span th:id="cdate" onclick="pickDate()"
							class="form-control" style="cursor: pointer">Click for
							Date</span>
					</div>
				</div>
				<div class="row">
					<div class="col-md-6" style="margin-top: 10px;">
						<span>Symbol</span> <select class="browser-default custom-select">
							<option selected>Symbol</option>
							<option value="1">ADCL</option>
							<option value="2">UPPER</option>
							<option value="3"></option>
						</select>
					</div>
					<div class="col-md-6" style="margin-top: 10px;">
						<span>Share Type</span> <select
							class="browser-default custom-select">
							<option selected>Share Type</option>
							<option value="1">FPO</option>
							<option value="2">IPO</option>
							<option value="3">Secondary</option>
						</select>
					</div>
				</div>
				<div class="row">
					<!-- Quantity -->
					<div class="col-md-6" style="margin-top: 10px;">
						<span>Quantity</span> <input type="number" th:field="*{quantity}" placeholder="Number  Only"
							class="form-control" />
					</div>
					<!-- Rate -->
					<div class="col-md-6" style="margin-top: 10px;">
						<span>Rate</span> <input type="number" th:field="*{rate}" placeholder="Number  Only"
							class="form-control" />
					</div>
				</div>
				
				<div class="row">
					<!-- purchase rate -->
					<div class="col-md-6" style="margin-top: 10px;">
						<span>Purchase Rate</span> <input type="number" th:field="*{purchaseRate}" placeholder="Number  Only"
							class="form-control" />
					</div>
				</div>
				<div class=" d-none" id="detail">
					<hr>
					<div class="row">
						<!-- total -->
						<div class="col-md-12" style="margin-top: 10px;">
							<span class="font-weight-bold">Details</span>
						</div>
					</div>
					<!-- Share Quantity -->
					<div class="row text-left">
						<!-- total -->
						<div class="col-md-6" style="margin-top: 10px;">
							<span class="text">Share Quantity:</span> &nbsp;<span class="text-dark"
								th:id="sQuantity"></span>
						</div>
						<!-- share amount -->
						<div class="col-md-6" style="margin-top: 10px;">
							<span class="text">Share Amount:</span> &nbsp;<span class="text-dark"
								th:id="shareAmount"></span>
						</div>
					</div>
					<!-- SEBO Commission: -->
					<div class="row text-left">
						<div class="col-md-6" style="margin-top: 10px;">
							<span class="text">SEBO Commission:</span> &nbsp;<span class="text-dark"
								th:id="seboCommission"></span>
						</div>
						<!-- commission amount -->
						<div class="col-md-6" style="margin-top: 10px;">
							<span class="text">Commission Amount:</span> &nbsp;<span class="text-dark"
								th:id="commissionAmount"></span>
						</div>
					</div>
					
					
		
					<div class="row text-left">
								<!-- dp amount -->
						<div class="col-md-6" style="margin-top: 10px;">
							<span class="text">DP Amount:</span> &nbsp;<span  class="text-dark" th:id="dpAmount"></span>
						</div>
						<!-- CGT -->
						<div class="col-md-6" style="margin-top: 10px;">
							<span class="text">Capital Gain Tax:</span> &nbsp;<span  class="text-dark" th:id="dpAmount"></span>
						</div>
					</div>
					<div class="row text-left">
					
						<!-- Net Receivable  Amount -->
						<div class="col-md-6" style="margin-top: 10px;">
							<span class="text">Net Receivable  Amount:</span> &nbsp;<span class="text-dark"
								th:id="netPayableAmount"></span>
						</div>
						<!-- profit/loss -->
						<div class="col-md-6" style="margin-top: 10px;">
							<span class="text">Profit/Loss:</span> &nbsp;<span  class="text-dark" th:id="dpAmount"></span>
						</div>
					</div>
				</div>
				<!-- buttons -->
				<div class="row">
					<button
						class="btn btn-outline-info col-md-4 bg-success btn-
					rounded btn-block my-4 waves-effect z-depth-0"
						type="button" style="margin: 5px; color: #fff;"
						onclick="calculateTotal()">
						<i class="fa fa-eye"></i>Detail
					</button>
					<button
						class="btn btn-outline-info bg-warning col-md-4 btn-
					rounded btn-block my-4 waves-effect z-depth-0"
						type="button" style="margin: 5px">
						<i class="fa fa-eraser"></i>Proceed
					</button>
					<a th:href="@{/home}"
						class="btn btn-outline-info bg-danger col-md-3 btn-
					rounded btn-block my-4 waves-effect z-depth-0">
						<i class="fa fa-times"></i> Cancel
					</a>
				</div>
			</form>
			<!-- Form -->
		</div>
	</div>
	<div th:replace="shared/footer::footer"></div>
</body>
</html>